<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable healthcare maintenance organizations">
    <meta name="keywords" content="HMOs">
    <meta name="author" content="INSURA">
    <title>INSURA | Recommender</title>
    <link rel="icon" href="../static/logo.jpeg">
   
</head>
<body >
    <style> body{
        color: black;
        background-color: aqua;
        }
        </style> 
    <header>
        <div class="container" >
            <div id="branding">
                <h1 style="text-align: center;">WELCOME TO INSURA</h1>
                <style>h1{
                    color: blue;
                    font-size: 100px;
                }</style>
                <h2 style="text-align: center;">Let's help you find the best HMO for you</h2>
                <style>h2{
                    color: rgba(11, 11, 201, 0.596);
                    font-size: 50px;
                }</style>
                <h3>Use the options below to state what you need</h3>
                <style>h3{
                    color: rgba(7, 7, 88, 0.596);
                    font-size: 25px;
                }</style>
            </div>
        </div>
    </header>
    <br>
    <div  class="content">
        <style>div{
            text-align: center;
            font-weight: bold;
            font-size: large;
            }
            </style>
        <form action="./predict" method="POST">
            <label for="TIERS">PAYABLE ANNUAL FEE FOR INSURANCE:</label>
            <select name="TIERS" id="TIERS">
                <option value="SELECT AN OPTION">SELECT AN OPTION</option>
                <option value="TIER 1">TIER 1: 10k - 29.9k</option>
                <option value="TIER 2">TIER 2: 30k - 59.9k</option>
                <option value="TIER 3">TIER 3: 60k - 99.9k</option>
                <option value="TIER 4">TIER 4: 100k and above</option>
                </select>

            <br><br>
            <label for="FAMILY PLANNING">FAMILY PLANNING:</label>
            <select name="FAMILY PLANNING" id="FAMILY PLANNING">
                <option value="SELECT AN OPTION">SELECT AN OPTION</option>
                <option value="NO">NO</option>
                <option value="YES">YES</option>
            </select>

            <br><br>
            <label for="MENTAL HEALTH">MENTAL HEALTH:</label>
            <select name="MENTAL HEALTH" id="MENTAL HEALTH">
                <option value="SELECT AN OPTION">SELECT AN OPTION</option>
                <option value="NO">NO</option>
                <option value="YES">YES</option>
            </select>
                
            <br><br>
            <label for="DENTAL CARE">DENTAL CARE:</label>
            <select name="DENTAL CARE" id="DENTAL CARE">
                <option value="SELECT AN OPTION">SELECT AN OPTION</option>
                <option value="NO">NO</option>
                <option value="YES">YES</option>
            </select>

            <br><br>
            <label for="TELEMEDICINE">TELEMEDICINE:</label>
            <select name="TELEMEDICINE" id="TELEMEDICINE">
                <option value="SELECT AN OPTION">SELECT AN OPTION</option>
                <option value="NO">NO</option>
                <option value="YES">YES</option>
            </select>

            <br><br>
            <label for="CASH BACK BENEFITSE">CASH BACK BENEFITS:</label>
            <select name="CASH BACK BENEFITS" id="CASH BACK BENEFITS">
                <option value="SELECT AN OPTION">SELECT AN OPTION</option>
                <option value="NO">NO</option>
                <option value="YES">YES</option>
            </select>

            <br><br>
            <label for="ANC DELIVERY COVERAGE">ANC DELIVERY COVERAGE:</label>
            <select name="ANC DELIVERY COVERAGE" id="ANC DELIVERY COVERAGE">
                <option value="SELECT AN OPTION">SELECT AN OPTION</option>
                <option value="NO">NO</option>
                <option value="YES">YES</option>
            </select>

            <br><br>
            <label for="EYE CARE">EYE CARE:</label>
            <select name="EYE CARE" id="EYE CARE">
                <option value="SELECT AN OPTION">SELECT AN OPTION</option>
                <option value="NO">NO</option>
                <option value="YES">YES</option>
            </select>
            
            <br><br>
            <label for="GYM">GYM:</label>
            <select name="GYM" id="GYM">
                <option value="SELECT AN OPTION">SELECT AN OPTION</option>
                <option value="NO">NO</option>
                <option value="YES">YES</option>
            </select>
            
            <br><br>
            <label for="ANNUAL ROUTINE MEDICAL SCREENING">ANNUAL ROUTINE MEDICAL SCREENING:</label>
            <select name="ANNUAL ROUTINE MEDICAL SCREENING" id="ANNUAL ROUTINE MEDICAL SCREENING">
                <option value="SELECT AN OPTION">SELECT AN OPTION</option>
                <option value="NO">NO</option>
                <option value="YES">YES</option>
            </select>

            <br><br>
            <label for="STATE">STATE:</label>
            <select name="STATE" id="STATE">
                <option value="SELECT AN OPTION">SELECT AN OPTION</option>
                <option value="LAGOS">LAGOS</option>
                <option value="NATIONWIDE">NATIONWIDE</option>
            </select>

            <br><br><br>
            <input type="submit" value="RECOMMEND"></form>
        </form>
        <br>
        <br>
        {{prediction_text}}
    </div>
 

</body>
</html>
